*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(1.png) no-repeat;
    background-size: cover;
}
.start{
    
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
     width:400px;
    height: 400px; 
    display:flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    perspective-origin: top right;
}
.cube{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
    margin:100px;
    padding:50px
}

@keyframes rotate{
    from{
        transform: rotate(0) rotateX(720deg) rotateZ(0);
    }
    to{
        transform: rotateY(360deg) rotateX(0) rotateZ(360deg);
    }
}
.side{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid lightblue;
    opacity: 0.9;
    background: cornflowerblue;
}
.front{
    background: url(5.png);
    transform: translateZ(100px);
}
.back{
    background: url(5.png);
    transform: translateZ(-100px);
}
.left{
    background: url(5.png);
    transform: rotateY(-90deg) translateZ(100px);
}
.right{
    background: url(5.png);
    transform: rotateY(90deg) translateZ(100px);
}
.top{
    background: url(5.png);
    transform: rotateX(-90deg) translateZ(100px);
}
.bottom{
    background: url(5.png);
    transform: rotateX(90deg) translateZ(100px);
}